/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/cpu_final_design.pdf
/for_loop-cz.pdf
/for_loop-en.pdf
/if_translation-cz.pdf
/if_translation-en.pdf
/neuron-cz.pdf
/neuron-en.pdf
/pipeline.pdf
/prediction_amd-cz.pdf
/prediction_amd-en.pdf
/prediction_BHR-cz.pdf
/prediction_BHR-en.pdf
/prediction_GShare-cz.pdf
/prediction_GShare-en.pdf
/prediction_table-cz.pdf
/prediction_table-en.pdf
/smith_1bit-cz.pdf
/smith_1bit-en.pdf
/smith_2bit-cz.pdf
/smith_2bit-en.pdf
/smith_2bit_hist-cz.pdf
/smith_2bit_hist-en.pdf
/superscalar-architecture2.pdf
/superscalar-architecture.pdf
/superscalar.pdf
/apo-lecture06-predictors-en.pdf
/apo06_2021.pdf
/apo-lecture06-predictors-cz.pdf
