/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/cpu_final_design.pdf
/lekce06-predictors.pdf
/apo06_2021.pdf
/superscalar.pdf
/pipeline.pdf
/superscalar-architecture.pdf
/superscalar-architecture2.pdf
/for_cyklus.pdf
/if_preklad.pdf
/smith_2bit.pdf
/smith_2bit_hist.pdf
/smith_1bit.pdf
/prediction_BHR.pdf
/prediction_table.pdf
/prediction_GShare.pdf
/neuron.pdf
/prediction_amd.pdf
/cpu-vonNeumann.pdf
/cpu_design2.pdf
/lekce07-io.pdf
/apo07_2021.pdf
/linux.pdf
/address_decoder.pdf
/distributed.pdf
/serial_signals.pdf
/central.pdf
/UART.pdf
/switch_bus.pdf
/sdileny_bus.pdf
/pentium4.pdf
/amd_am5.pdf
/PCI_clock.pdf
/PCI_arch.pdf
/PCI_write1.pdf
/PCI_write4.pdf
/PCI_write2.pdf
/PCI_write3.pdf
/PCI_read1.pdf
/bus_arch.pdf
