/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/cpu_final_design.pdf
/lekce06-predictors.pdf
/apo06_2021.pdf
/superscalar.pdf
/pipeline.pdf
/superscalar-architecture.pdf
/superscalar-architecture2.pdf
/for_cyklus.pdf
/if_preklad.pdf
/smith_2bit.pdf
/smith_2bit_hist.pdf
/smith_1bit.pdf
/prediction_BHR.pdf
/prediction_table.pdf
/prediction_GShare.pdf
/neuron.pdf
/prediction_amd.pdf
/cpu-vonNeumann.pdf
/cpu_design2.pdf
/lekce07-io.pdf
/apo07_2021.pdf
