/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/address_decoder-cz.pdf
/address_decoder-en.pdf
/amd_am5.pdf
/bus_arch-cz.pdf
/bus_arch-en.pdf
/central-cz.pdf
/central-en.pdf
/cpu_design2.pdf
/cpu-vonNeumann.pdf
/distributed-cz.pdf
/linux.pdf
/PCI_arch.pdf
/PCI_clock.pdf
/PCI_read1.pdf
/PCI_write1.pdf
/PCI_write2-cz.pdf
/PCI_write2-en.pdf
/PCI_write3-cz.pdf
/PCI_write3-en.pdf
/PCI_write4-cz.pdf
/PCI_write4-en.pdf
/pentium4.pdf
/proc_addr_space-cz.pdf
/serial_signals.pdf
/shared_bus.pdf
/switch_bus.pdf
/UART-cz.pdf
/UART-en.pdf
/apo-lecture07-io-cz.pdf
/apo07_2021.pdf
