/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/barrel-shift.pdf
/cmos_neg.pdf
/cpu-cz.pdf
/cpu-en.pdf
/cpu-vonNeumann.pdf
/full_adder2.pdf
/full_adder.pdf
/half_adder.pdf
/log_symbols.pdf
/lookahead_direct.pdf
/lookahead_ripple.pdf
/lookahead_select.pdf
/lookahead_tree_carry.pdf
/lookahead_tree.pdf
/multiplex.pdf
/multiplex-tree.pdf
/not_jako_nand.pdf
/or_by_nand.pdf
/preklad.pdf
/ripple_adder.pdf
/ttl_log01-cz.pdf
/ttl_log01-en.pdf
/ttl_neg.pdf
/apo-lecture01-intro-en.pdf
/apo01_2021.pdf
/apo-lecture01-intro-cz.pdf
