/lekce01-intro.pdf
/apo01_2021.pdf
/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/_minted*
/cpu-vonNeumann.pdf
/cpu.pdf
/ttl_log01.pdf
/ttl_neg.pdf
/log_symbols.pdf
/not_jako_nand.pdf
/multiplex.pdf
/full_adder.pdf
/half_adder.pdf
/full_adder2.pdf
/ripple_adder.pdf
/lookahead_direct.pdf
/lookahead_ripple.pdf
/anim
/lookahead_tree.pdf
/multiplex-tree.pdf
/lookahead_tree_carry.pdf
/barrel-shift.pdf
/cmos_neg.pdf
/or_by_nand.pdf
/lookahead_select.pdf
/preklad.pdf
/moddate.tex
/apo-lecture01-intro-en.pdf
/cpu-en.pdf
/ttl_log01-en.pdf
