/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/mutilevel-machine-cz.pdf
/mutilevel-machine.pdf
/mutilevel-mcode-to-highlev-cz.pdf
/mutilevel-mcode-to-highlev.pdf
/apo-lecture13-vmlev-virt-cz.pdf
/apo13_2021.pdf
