/lekce04-memory.pdf
/apo04_2021.pdf
/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/sram.pdf
/dram.pdf
/cache-size-vs-block.pdf
/cache-size-vs-ways.pdf
/paging-2-levels-cz.pdf
/paging-2-levels.pdf
/addr-space.pdf
/paging-1-level.pdf
