/lekce04-memory.pdf
/apo04_2021.pdf
/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/sram.pdf
/dram.pdf
/cache-size-vs-block.pdf
/cache-size-vs-ways.pdf
/paging-2-levels-cz.pdf
/paging-2-levels.pdf
/addr-space.pdf
/paging-1-level.pdf
/address-trans-4-levels.pdf
/cache-direct-mapping-1byte.pdf
/cache-direct-ms.pdf
/cache-direct-simple.pdf
/cache-n-way-ms.pdf
/cache-principle.pdf
/cache-schema-2way.pdf
/cache-schema-direct.pdf
/cache-schema-fully.pdf
/memory-gap.pdf
/mem-reg-to-disc.pdf
/paging-canonical-64-bit.pdf
/paging-cpu-mm-mem.pdf
/paging-pde-1.pdf
/paging-pte.pdf
/paging-tlb.pdf
/paging-to-disc.pdf
/pc-memory-to-numa.pdf
/ram-matrix.pdf
/sdram-dimm.pdf
/sram-6t-cell.pdf
/apo-lecture03-memory-en.pdf
/apo-lecture04-memory-en.pdf
/addr-space-en.pdf
/dram-en.pdf
/sram-en.pdf
/memory-gap-en.pdf
/paging-1-level-en.pdf
/paging-2-levels-en.pdf
