/apo-lecture02-numbers.pdf
/apo02_2021.pdf
/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/multiplier-seq.pdf
/wallace-tree.pdf
/wallace-tree3.pdf
/wallace-tree2.pdf
/divider-seq.pdf
/doplnek-graf.pdf
/odcitani.pdf
/float_bin.pdf
/float_priklad.pdf
/overflow.pdf
/apo-lecture02-numbers-en.pdf
/multiplier-seq-en.pdf
/divider-seq-en.pdf
/add-sub-en.pdf
/substaction-en.pdf
/float_example-en.pdf
/float_bin-1.pdf
