/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/add-sub-en.pdf
/divider-seq-cz.pdf
/divider-seq-en.pdf
/doplnek-graf.pdf
/float_bin-1.pdf
/float_bin.pdf
/float_example-cz.pdf
/float_example-en.pdf
/multiplier-seq-cz.pdf
/multiplier-seq-en.pdf
/overflow.pdf
/substaction-cz.pdf
/substaction-en.pdf
/wallace-tree2.pdf
/wallace-tree3.pdf
/wallace-tree.pdf
/apo-lecture02-numbers-en.pdf
/apo02_2021.pdf
/apo-lecture02-numbers-cz.pdf
