/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/hazard_ctrl.pdf
/single_cpu.pdf
/cpu_clock.pdf
/noforward_data.pdf
/cpu_nopipe.pdf
/pipeline_stall.pdf
/forward_hazard.pdf
/cpu_pipe.pdf
/cpu_fwd_stall.pdf
/cpu_ctrl_pipe.pdf
/hazard_ctrl2.pdf
/forward_data.pdf
/pipeline_stall2.pdf
/lekce05-pipeline.pdf
/apo05_2021.pdf
/cpu_design2.pdf
/cpu_final_design.pdf
/cpu_design.pdf
/cpu_design3.pdf
/cpu_branch_pred.pdf
