/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/alu.pdf
/cpu-add2.pdf
/cpu-addi.pdf
/cpu-add.pdf
/cpu-beq.pdf
/cpu-control-unit.pdf
/cpu-increment.pdf
/cpu-load2.pdf
/cpu-load-red.pdf
/cpu-load.pdf
/cpu_step-cz.pdf
/cpu_step-en.pdf
/cpu_step_wrong-cz.pdf
/cpu-store2.pdf
/cpu-store.pdf
/cpu-time.pdf
/cpu-vonNeumann.pdf
/d_latch_e0-cz.pdf
/d_latch_e0-en.pdf
/d_latch_e1-cz.pdf
/d_latch_e1-en.pdf
/d_latch.pdf
/edge.pdf
/flip-flop.pdf
/imm_decode.pdf
/inst_mem-cz.pdf
/inst_mem-en.pdf
/memory-cz.pdf
/memory-en.pdf
/multiplexor.pdf
/registers-cz.pdf
/registers-en.pdf
/registr.pdf
/simulator.pdf
/apo-lecture03-cpu-en.pdf
/apo03_2021.pdf
/apo-lecture03-cpu-cz.pdf
