/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.synctex.gz
/*.out
/*.toc
/*.upa
/*.vrb
*.nav
/anim
/_minted*
/cpu-cz.pdf
/distrib-cz.pdf
/flags-cz.pdf
/fnc_frame-cz.pdf
/mmx-add-sat.pdf
/mmx-add.pdf
/mmx-mul-add.pdf
/mmx-mulh.pdf
/mmx-mull.pdf
/mmx.pdf
/multi-proc-cz.pdf
/registers.pdf
/sse-s.pdf
/sse.pdf
/stack.pdf
/step-cz.pdf
/step-inter-cz.pdf
/apo-lecture11-x86-cz.pdf
/apo11_2021.pdf
/cpu-en.pdf
/flags-en.pdf
/fnc_frame-en.pdf
/apo-lecture11-x86-en.pdf
