/cpu.pdf
/registers.pdf
/multi-proc.pdf
/step.pdf
/flags.pdf
/step-inter.pdf
/distrib.pdf
/lekce01.pdf
/osy1_2017.pdf
/stack.pdf
/osy1_2018.pdf
/osy11_2019.pdf
/mmx.pdf
/mmx-mul-add.pdf
/mmx-add.pdf
/mmx-add-sat.pdf
/sse.pdf
/mmx-mulh.pdf
/mmx-mull.pdf
/sse-s.pdf
/lekce11-x86.pdf
/apo11_2019.pdf
/apo11_2021.pdf
/anim
/_minted*
*log
*synctex.gz
*aux
*nav
*out
*toc
/fce_frame.pdf
