/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/complex_fnc-cz.pdf
/complex_fnc_fp-cz.pdf
/irq-and-os-cz.pdf
/Jalr-exec.pdf
/Jalr-mem.pdf
/overflow_fnc-cz.pdf
/proc_addr_space-cz.pdf
/Qtrvsim-jalr.pdf
/simple_fnc-cz.pdf
/stack-push-pop.pdf
/vaarg_fnc_fp-cz.pdf
/apo-lecture10-call-cz.pdf
/apo10_2021.pdf
