/*.aux
/*.log
/*.snm
/*.gz
/*.nav
/*.out
/*.toc
/*.upa
/*.vrb
/anim
/_minted*
/lekce10-call.pdf
/apo10_2021.pdf
/Jalr-mem.pdf
/Qtrvsim-jalr.pdf
/Jalr-exec.pdf
/zasobnik.pdf
/jednoducha_fce.pdf
/slozita_fce.pdf
/slozita_fce_fp.pdf
/rozlozeni_procesu.pdf
/vaarg_fce_fp.pdf
/irq-and-os.pdf
/overflow_fce.pdf
